<form action="<%= cat_rental_requests_url%>" method="POST">
<h1> Make a cat rental request for <%=@cat.name%> </h1>

  <input type="hidden", name="cat_rental_request[cat_id]",  
                        value="<%= @cat.id %>">
                        
  <label for="cat_rental_request_start_date">Start Date</label>
  <input name="cat_rental_request[start_date]", type="date", min = "<%=Date.current%>", value="<%=@rental_request.start_date%>">
  <br>
  
  <label for="cat_rental_request_end_date">End Date</label>
  <input name="cat_rental_request[end_date]", type="date",          
        value="<%=@rental_request.end_date%>">
  <br>
    
 <input type="submit" value="request cat">
</form>