<h1> <%= @cat.name%></h1>
<table>

  <tr>
    <td> Name, <%= @cat.name%></td>
  </tr>  
  <tr>
    <td> Birthdate, <%= @cat.birth_date%></td>
  </tr> 
  <tr>
    <td> Color, <%= @cat.color%></td>
  </tr> 
 <tr>
   <td> Sex, <%= @cat.sex%></td>
 </tr>
</table>

<%= link_to "Edit this cat", edit_cat_url%>

<ol>
  <% @cat.order_requests.each do |request| %>
    <li>Start:<%=request.start_date%> &nbsp;End:<%=request.end_date%></li>
  <%end%>
</ol>