<h1> <%= @cat.name%></h1>
<table>
  <tr>
      <td>Atrribute</td>
      <td>Value</td>
  </tr>
  <tr>
    <td> Name, <%= @cat.name%></td>
  </tr>  
  <tr>
    <td> Birthdate, <%= @cat.birth_date%></td>
  </tr> 
  <tr>
    <td> Color, <%= @cat.color%></td>
  </tr> 
 <tr>
   <td> Sex, <%= @cat.sex%></td>
 </tr>
</table>